---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">
  <div class="col-md-8">
    {% include index/description.html %}
    {% include index/carousel.html title="Koleksiyondan Seçmeler" %}
  </div>
  <div class="col-md-4">  
    {% include index/time.html %}
    {% include index/featured-terms.html field="subject" title="Konular" btn-color="primary" %}
<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title h5">Coğrafya</h2>
        <a class="btn btn-outline-secondary" href="{{ '/map.html' | relative_url }}">Haritayı Gör</a>
    </div>
</div>
    {% include index/objects.html %}
  </div>
  <div class="col-md-12">
    {% include index/data-download.html %}
  </div>
</div>
